<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Welcome to Family App 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>
  <ion-row>
    <ion-col text-center>
      <h1 class="logo" [routerLink]="['/home']">
        <ion-label color="primary" text-center>
          <img src="/assets/icon/family-icon.png" style="width: 50px; height: 50px;">
          <p>FAMILY APP</p>
        </ion-label>
      </h1>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-button class="log-in-button" color="primary" expand="block" [routerLink]="['/login']">
          START
        </ion-button>
      </ion-col>
    </ion-row>
  <ion-row>
  <ion-slides pager="true" [options]="slideOpts" style="height:60%;">
      <ion-slide>          
        <ion-card>
        <img style="max-width: 300px;" src="./assets/icon/family-icon.png" />
        <ion-card-header>
          <ion-card-subtitle>Create Familys and add Familymembers</ion-card-subtitle>
          <ion-card-title>Manage Familys</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Get an Overview of your Family
        </ion-card-content>
      </ion-card>  
      </ion-slide>
      <ion-slide>          
        <ion-card>
        <img style="max-width: 300px;" src="./assets/icon/communication_blue.png" />
        <ion-card-header>
          <ion-card-subtitle>Add Contactdatas</ion-card-subtitle>
          <ion-card-title>Communicate</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Chat with your Familymembers
        </ion-card-content>
      </ion-card>  
      </ion-slide>
      <ion-slide>          
        <ion-card>
        <img style="max-width: 300px;" src="./assets/icon/tracking_blue.png" />
        <ion-card-header>
          <ion-card-subtitle>localize Familymembers *</ion-card-subtitle>
          <ion-card-title>Get Position of your Family</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          * If a Familymember sent his position, you can see them on a Map
        </ion-card-content>
      </ion-card>  
      </ion-slide>
      <ion-slide>
          <img src="https://via.placeholder.com/300x300?text=I+Love+Arina+Amirian">
      </ion-slide>
      
    </ion-slides> 
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="danger" expand="block" [routerLink]="['/login']">
        START
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
