<ion-header>    
  <ion-toolbar>
      <ion-title slot="start">Communication</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>New Conversation</ion-label>
        <ion-select #newConv placeholder="Select Familymember" (ionChange)="onChangeNewConv(newConv.value)">
          <ion-select-option value="4">Arina Amirian</ion-select-option>
          <ion-select-option value="1">Dave No. 1</ion-select-option>
        </ion-select>
      </ion-item>
  <ion-row>
    <ion-col>
      <ion-item (click)="chatModal(conversation.conversation_id, conversation.to_user_id)" *ngFor="let conversation of conversations">
        <ion-avatar item-left>
          <img [src]="conversation.image" *ngIf="conversation.image">
        </ion-avatar>
      <h2>{{conversation.firstname}} {{conversation.lastname}}</h2>
      <p slot="end">{{ conversation.message_text }}</p>
      </ion-item>         
    </ion-col>
  </ion-row>
</ion-content>

<!-- Tab bar -->
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="dashboard" [routerLink]="['/user']">
    <ion-icon name="paper"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="account" [routerLink]="['/family']">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="contact" [routerLink]="['/communication']">
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="calendar" [routerLink]="['/calendar']">
    <ion-icon name="calendar"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tracking" [routerLink]="['/tracking']">
    <ion-icon name="locate"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="settings" [routerLink]="['/settings']">
    <ion-icon name="settings"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
 