<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="height:85%;">
  <div *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
  </div>
</ion-content>


    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard" [routerLink]="['/user']">
        <ion-icon name="paper"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account" [routerLink]="['/family']">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact" [routerLink]="['/communication']">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calendar" [routerLink]="['/calendar']">
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tracking" [routerLink]="['/tracking']">
        <ion-icon name="locate"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings" [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
 