<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>               
        </ion-buttons>
    <ion-title text-center [innerHTML]="'Settings' | translate"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-item ion-button class="hydrated">
      <ion-avatar slot="start" class="hydrated" *ngIf="images.length !== 1">
        <img [src]="userimage" >              
      </ion-avatar>

      <ion-label class="sc-ion-label-md-h sc-ion-label-md-s hydrated" (click)="selectImage()" *ngIf="desktop === false;">
          <ion-icon slot="start" name="camera"></ion-icon>
          Select New Avatar            
      </ion-label>  
     
      <ion-input type="file" #imchnager (ionChange)="selectinputImage(imchnager.value)" placeholder="Select New Avatar" *ngIf="desktop === true;" slot="end"></ion-input>           
  
      <ion-list>
          <ion-item *ngFor="let img of images; index as pos" text-wrap>
            <ion-thumbnail slot="start">
              <ion-img [src]="img.path"></ion-img>
            </ion-thumbnail>
            <ion-button slot="end" color="success" fill="clear" (click)="startUpload(img)">
              <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="danger" fill="clear" (click)="deleteImage(img, pos)">
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>              
  </ion-item>
  <ion-item>
    <ion-label [translate]="'Language'"></ion-label>
    <ion-select #LangChanger [value]="actualLanguage" okText="Okay" cancelText="Dismiss" (ionChange)="onLangChange(LangChanger.value)">
      <ion-select-option [value]="lang.blang" *ngFor="let lang of Langs; let i = index">{{ lang.flag }} {{ lang.name }}</ion-select-option>      
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" slot="start"><b [translate]="'Firstname'"></b></ion-label>
    <ion-input #ufname value="{{ firstname }}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" slot="start"><b [translate]="'Lastname'"></b></ion-label>
    <ion-input #ulname value="{{ lastname }}" ></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="fixed" slot="start"><b [translate]="'Nickname'"></b></ion-label>
    <ion-input #uuname value="{{ username }}" ></ion-input>
  </ion-item>
  
  <ion-button (click)="saveUserData(ufname.value, ulname.value, uuname.value)" [translate]="'Save'"></ion-button>        
</ion-content> 
 
<!-- Tab bar -->
<ion-tab-bar slot="bottom" class="tbs-10" style="max-height: 10%;">
  <ion-tab-button tab="dashboard" [routerLink]="['/user']">
    <img src="/assets/icon/mypage.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
  <ion-tab-button tab="account" [routerLink]="['/family']">
    <img src="/assets/icon/family_blue.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
  <ion-tab-button tab="contact" [routerLink]="['/communication']">
    <img src="/assets/icon/communication_blue.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
  <ion-tab-button tab="calendar" [routerLink]="['/calendar']">
    <img src="/assets/icon/calendar_blue.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
  <ion-tab-button tab="tracking" [routerLink]="['/tracking']">
    <img src="/assets/icon/tracking2_blue.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
  <ion-tab-button tab="settings" [routerLink]="['/settings']">
    <img src="/assets/icon/settings_blue.png" style="width: 40px; height: 40px;">
  </ion-tab-button>
</ion-tab-bar>
